.currencies-rate-list {
  margin-top: 16px;
  width: 130%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.curConteiner {
  display: flex;
  
}

.curConteiner > span {
  text-align: center;
  height: 30px;
  padding-top: 12px;
  margin-right: 20px;
}

.curName {
  width: 20px;
}

.curData {
  border: 3px solid black;
  width: 120px;
}

