<div class="currency-header">
  <h2>Currency RUB</h2>
  <div>
    <button mat-mini-fab color="basic" [matMenuTriggerFor]="menu"
     aria-label="Button for adding currencies">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngFor="let item of availableCurrenciesSet; index as i"
        mat-menu-item (click)="addCurrency(i)">
        <span>{{item.name}}</span>
      </button>
    </mat-menu>
  </div>
</div>
<p style="font-size:small;">{{ currentDateTime | date: 'dd.MM.yyyy, HH:mm:ss' }}</p>
